{% extends 'base.html' %}

{% block content %}

<h1>sois belle dans tes chaussures!</h1>

<div class="row">
    {% for apishoes in apishoes %}
        <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ apishoes.image }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ apishoes.name }}</h5>
                                <p class="card-text">{{ apishoes.prix }}fbu</p>
                                <a href="#" class="btn btn-primary">Ajouter</a>
                            </div>
                </div>
        </div>
   {% endfor %}
{% endblock %}